@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

$primary-color: rgb(0, 0, 0);
$secondary-color: rgb(206, 171, 125);

$font-title: 'Great Vibes', cursive;
$font: 'Roboto', sans-serif;

.btn {
  background-color: $secondary-color;
  color: white;
  font-family: $font;
  font-weight: 300;

  &:hover {
    background-color: darken($secondary-color, 10%);
    color: white;
  }
}

.btn-small {
  font-size: 11px;
  padding: 2px 5px;
}

.btn-radius {
  border-radius: 5px;
}

span.name {
  color: $secondary-color;
  font-family: $font-title;
  font-weight: normal;
}

















.form-control:focus {
  border-color: $secondary-color;
  box-shadow: inset 0 1px 1px rgba(187, 153, 107, 0.075), 0 0 8px rgba(187, 153, 107, 0.6);
}
