<div class="row">
  <div class="col-9">
    <div class="position-relative">
      <span class="name">Restaurant</span>
      <h1>{{ restaurant.name | nameChange }}</h1>
    </div>
  </div>
  <div class="col-9">
    <span class="offer">
      <i class="far fa-clock"></i>{{ restaurant.delivery.time }} m
    </span>
    <span class="offer">
      <i class="fas fa-truck"></i>{{ restaurant.delivery.amount }}
    </span>
    <span class="offer">
      <i class="fas fa-dollar-sign"></i>MIN. {{ getMinimumCost() }}
    </span>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-12 col-lg-8">
    <div class="row justify-content-center justify-content-lg-start">
      <div class="col-10 col-md-9 col-lg-6 col-xl-4 p-2" *ngFor="let item of restaurant.menu">
        <app-menu-item [dish]="item"></app-menu-item>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-4">
    <app-opinions [restaurant]="restaurant"></app-opinions>
  </div>
</div>
