<div class="row mt-4">
  <div class="col-5">
    <h1>{{restaurant.name | nameChange}}</h1>
  </div>
  <div class="col-5">
    <button class="btn" (click)="onRemoveRestaurant()">Delete this restaurant</button>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-12 col-xl-5">
    <div class="list-group-item" (click)="showMenu = !showMenu">
      MENU
      <span class="float-right">
        <i class="fas fa-plus-circle" (click)="showForm = !showForm; edit = false"></i>
      </span>
    </div>
    <ul class="list-group" *ngIf="showMenu" [@show]>
      <li class="list-group-item" *ngFor="let dish of restaurant.menu">{{dish.name | nameChange}}
        <span class="float-right">
        <i class="fas fa-edit" (click)="onEditDish(dish)"></i>
        <i class="fas fa-times" (click)="onRemoveDish(dish)"></i>
      </span>
      </li>
    </ul>
    <div class="list-group-item" (click)="showOpinion = !showOpinion">OPINIONS</div>
    <ul class="list-group" *ngIf="showOpinion" [@show]>
      <li class="list-group-item" *ngFor="let opinion of restaurant.opinions">
        {{opinion.description}}
        <span class="float-right">
           <i class="fas fa-times" (click)="onRemoveOpinion(opinion)"></i>
          </span>
      </li>
    </ul>
  </div>
  <div class="col-10 col-xl-5 offset-xl-1 align-items-center align-self-center">
    <form (ngSubmit)="onSubmit()" [formGroup]="form" *ngIf="showForm" class="m-3">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" class="form-control" id="description" formControlName="description">
      </div>
      <div class="mb-3">
        <label for="img" class="form-label">Img Path</label>
        <input type="text" class="form-control" id="img" formControlName="imagePath">
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input type="number" class="form-control" id="price" formControlName="price">
      </div>
      <button type="submit" class="btn" [disabled]="!form.valid">{{edit ? 'Edit' : 'Add'}}</button>
    </form>
  </div>
</div>
