<div class="row">
  <div class="col-9">
    <div class="position-relative">
      <span class="name">Restaurant</span>
      <h1>{{ restaurant.name | nameChange }}</h1>
    </div>
  </div>
  <div class="col-9">
    <span class="offer">
      <i class="far fa-clock"></i>{{ restaurant.delivery.time }} m
    </span>
    <span class="offer">
      <i class="fas fa-truck"></i>{{ restaurant.delivery.amount }}
    </span>
    <span class="offer">
      <i class="fas fa-dollar-sign"></i>MIN. {{ getMinimumCost() }}
    </span>
  </div>
</div>
<hr/>

<div class="row">
  <div class="col-12 col-lg-8">
    <div class="row justify-content-center justify-content-lg-start">
      <div class="col-12 col-md-9 col-lg-6 col-xl-4 p-2" *ngFor="let item of restaurant.menu">
        <app-menu-item [dish]="item"></app-menu-item>
      </div>
    </div>
  </div>

  <div class="col-12 col-lg-4">
    <div class="opinion card" *ngIf="restaurant.opinions; else noOpinions">
      <div class="card-header">
        <div><span>{{ calcStar() }}</span>/5 stars</div>
        <div><span>{{ lengthOfOpinion() }}</span> opinion</div>
      </div>

      <div class="card" *ngFor="let opinion of restaurant.opinions">
        <app-opinion-item [opinion]="opinion"></app-opinion-item>
      </div>

      <div class="card-header text-center" (click)="addOpinion = !addOpinion" style="z-index: 5">
        <i class="fas fa-plus-circle"></i>
      </div>

      <div class="card" *ngIf="addOpinion" [@show]>
        <div class="input-group mt-3 mb-3 col-7 align-self-center">
          <input type="number" class="form-control col-4 mr-2" max="5" min="1" placeholder="Star" #star>
          <input type="text" class="form-control mr-2" placeholder="Opinion" #opinion>
          <button class="btn" (click)="onAddOpinion(+star.value, opinion.value)">Add</button>
        </div>
      </div>

    </div>
  </div>
  <ng-template #noOpinions>
    <div class="card-header">
      This restaurant does not have any reviews.
    </div>
  </ng-template>
</div>
