<div class="row">
  <div class="col-12">
    <ul class="nav nav-tabs px-3">
      <li class="nav-item">
        <a class="nav-link" href="#"><h2>TASTE</h2></a>
      </li>
      <li class="nav-item align-self-end" *ngFor="let item of restaurants">
        <a class="nav-link" routerLink="{{item.name}}" routerLinkActive="active">{{item.name | nameChange}}</a>
      </li>
      <li class="align-self-end ml-auto mb-2 position-relative">
        <a routerLink="/order"><i class="fas fa-shopping-basket"></i></a>
        <span class="badge" *ngIf="cart.selectedDishes.length > 0">{{cart.selectedDishes.length}}</span>
      </li>
    </ul>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
