<header>
  <div class="row p-2">
    <div class="col-4">
      <h2 class="logo">TASTE</h2>
    </div>
    <div class="col-1 ml-auto text-right">
      <button class="btn btn-small" (click)="onOpenLogin()">Panel</button>
    </div>
  </div>
  <div class="row justify-content-center box">
    <div class="col-8 col-md-7 col-lg-6 col-xl-5">
      <h3>Enter a city</h3>
      <div class="input-group mb-3">
        <select class="form-control" #city>
          <option>Warsaw</option>
          <option>Gdansk</option>
          <option>Poznan</option>
          <option>Cracow</option>
        </select>
        <button class="btn btn-radius" type="button" (click)="onSearch(city.value)">Search</button>
      </div>
    </div>
  </div>
</header>
<app-login-to-panel *ngIf="service.login"></app-login-to-panel>
