@import "src/app/styles/variables";

* {
  font-family: $font;
  font-weight: 300;
}

html, body {
  overflow-x: hidden;
  user-select: none;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
